@import url('https://fonts.googleapis.com/css2?family=Oxanium&family=VT323&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    
}
body{
    text-align: center;
    background:linear-gradient(to bottom, #DEDEDC, #699DB4);
    min-height: 100vh;
}
main{
    display: inline-block;
    margin-top: 3%;
    padding: 10px;
    position: relative;
}
.pokedex{
    width: 100%;
    max-width: 435px;
    
}
.pokemon_image{
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translate(50%, 50%);
    height: 15%;
}

.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: #999999;
    top: 57.6%;
    left: 22%;
    
    font-size: clamp(6px,4.5vw,25px);
}
.pokemon_name{
    color: #4d4c4c;
    text-transform: capitalize;
}
.form{
    position: absolute;
    background-color: red;
    top: 71%;
    left: 6.9%;
    width: 37.6%;
}
.input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid blue;
    border-radius: 5px;
    font-weight: 700;
}